/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 5rem 2rem;
    min-height: 65vh;
  }
}

@media screen and (max-width: 576px) {
  .heroBanner {
    padding: 4rem 1.5rem;
    min-height: 60vh;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .buttons {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .buttons .button {
    width: 100%;
    max-width: 280px;
  }
}
